{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <div class="positon-relative overflow-hidden p-3 p-md m-md-3 text-center bd-dark" style="color:white">
        <div class="col md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Banking System</h1>
            <p class="lead font-weight-normal">Start transferring money Online</p>
            <a class="btn btn-outline-primary" href="{{ url_for('login_page') }}">Get Started</a>
        </div>
        <div class="product-device box-shadow d-name d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
{% endblock %}

